<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="kf2102" >
    <!-- create a virtual root link -->
    <link name="base_footprint" />
    <!-- instantiate r2300 macro -->
    <link name="scanner_link" >
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://orient_description/kf2102/meshes/R2000.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="-0.0058 0 -0.03885" rpy="0 0 0" />
            <geometry>
                <box size="0.118 0.108 0.117" />
            </geometry>
        </collision>
    </link>

    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.84 0.64 0.25" />
            </geometry>
            <material name="blue">
                <color rgba="0.1 0.1 1.0 0.5"/>
            </material>
        </visual>
    </link>
        
    <!-- connect world link to scanner link -->
    <joint name="base_link_joint" type="fixed">
        <parent link="base_footprint" />
        <child link = "base_link" />
        <origin xyz="0.0 0.0 0.175" rpy="0.0 0.0 0.0" />
    </joint>
    <!-- connect world link to scanner link -->
    <joint name="scanner_link_joint" type="fixed">
        <parent link="base_link" />
        <child link = "scanner_link" />
        <origin xyz="0.5 0.0 0.0" rpy="0.0 0.0 0.0" />

    </joint>
</robot>